<app-admin></app-admin>
<div class="container">

  <div>
    <h2>List OrderDetail</h2>
  </div>
  <div>
    <button type="button" class="btn btn-primary" (click)="openCreateModal()" data-toggle="modal" data-target="#modalCreate">Create</button>
  </div>
  <!--<div class="menu">-->
  <!--<ul class="list-group" *ngFor="let item of items | async">-->
  <!--<li class="list-group-item cursor_poiter" (click)="select(item)" data-toggle="modal" data-target="#modalEdit">-->
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>orderDetailCode</th>
      <th>orderDate</th>
      <th>quantity</th>
      <th>totalPrice</th>
      <th>productID_FK</th>
      <th>userEmail_FK</th>
      <th>paymentID_FK</th>
    </tr>
    </thead>
    <tbody class="table" *ngFor="let item of items | async">
    <tr class="cursor_poiter" (click)="select(item)" data-toggle="modal" data-target="#modalEdit">
      <td>
        <span class="txt2 truncate" [textContent]=item.orderDetailCode></span>
      </td>
      <td>
        <span class="txt2 truncate" [textContent]=item.orderDate></span>
      </td>
      <td>
        <span class="txt2 truncate" [textContent]=item.quantity></span>
      </td>
      <td>
        <span class="txt2 truncate" [textContent]=item.totalPrice></span>
      </td>
      <td>
        <span class="txt2 truncate" [textContent]=item.productID_FK></span>
      </td>
      <td>
        <span class="txt2 truncate" [textContent]=item.userEmail_FK></span>
      </td>
      <td>
        <span class="txt2 truncate" [textContent]=item.paymentID_FK></span>
      </td>
      <button type="button" class="btn btn-danger float-right" (click)="delete(item);$event.stopPropagation()">delete</button>
    </tr>
    </tbody>
  </table>
  <!--</li>-->
  <!--</ul>-->
  <!--</div>-->


  <div class="modal fade overflow-auto" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Edit here</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="container">
          <div class="row">
            <form class="form-custom" [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label>OrderDetail Code</label>
                <input type="text" formControlName="orderDetailCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.orderDetailCode.errors }" />
                <div *ngIf="submitted && f.orderDetailCode.errors" class="invalid-feedback">
                  <div *ngIf="f.orderDetailCode.errors.required">First Name is required</div>
                </div>
              </div>
              <div class="form-group">
                <label>OrderDetail Date</label>
                <input type="text" formControlName="orderDate" class="form-control" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.orderDate.errors }" />
                <div *ngIf="submitted && f.orderDate.errors" class="invalid-feedback">
                  <div *ngIf="f.orderDate.errors.required">userEmail is required</div>
                  <div *ngIf="f.orderDate.errors.orderDate">userEmail must be a valid userEmail address</div>
                </div>
              </div>
              <div class="form-group">
                <label>Quantity</label>
                <input type="text" formControlName="quantity" class="form-control" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }" />
                <div *ngIf="submitted && f.quantity.errors" class="invalid-feedback">
                  <div *ngIf="f.quantity.errors.required">userEmail is required</div>
                  <div *ngIf="f.quantity.errors.quantity">userEmail must be a valid userEmail address</div>
                </div>
              </div>

              <div class="form-group">
                <label>productID_FK</label>
                <input type="text" formControlName="productID_FK" class="form-control" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.productID_FK.errors }" />
                <div *ngIf="submitted && f.productID_FK.errors" class="invalid-feedback">
                  <div *ngIf="f.productID_FK.errors.required">userEmail is required</div>
                  <div *ngIf="f.productID_FK.errors.productID_FK">userEmail must be a valid userEmail address</div>
                </div>
              </div>
              <div class="form-group">
                <label>userEmail_FK</label>
                <input type="text" formControlName="userEmail_FK" class="form-control" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.userEmail_FK.errors }" />
                <div *ngIf="submitted && f.userEmail_FK.errors" class="invalid-feedback">
                  <div *ngIf="f.userEmail_FK.errors.required">userEmail is required</div>
                  <div *ngIf="f.userEmail_FK.errors.userEmail_FK">userEmail must be a valid userEmail address</div>
                </div>
              </div>
              <div class="form-group">
                <label>paymentID_FK</label>
                <input type="text" formControlName="paymentID_FK" class="form-control" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.paymentID_FK.errors }" />
                <div *ngIf="submitted && f.paymentID_FK.errors" class="invalid-feedback">
                  <div *ngIf="f.paymentID_FK.errors.required">userEmail is required</div>
                  <div *ngIf="f.paymentID_FK.errors.paymentID_FK">userEmail must be a valid userEmail address</div>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-primary">submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade overflow-auto" id="modalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Edit here</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="container">
          <div class="row">
            <form class="form-custom" [formGroup]="formCreate" (ngSubmit)="onSubmitCreate()">
              <div class="form-group">
                <label>OrderDetail Code</label>
                <input type="text" formControlName="orderDetailCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.orderDetailCode.errors }" />
                <div *ngIf="submitted && f.orderDetailCode.errors" class="invalid-feedback">
                  <div *ngIf="f.orderDetailCode.errors.required">First Name is required</div>
                </div>
              </div>
              <div class="form-group">
                <label>OrderDetail Date</label>
                <input type="text" formControlName="orderDate" class="form-control" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.orderDate.errors }" />
                <div *ngIf="submitted && f.orderDate.errors" class="invalid-feedback">
                  <div *ngIf="f.orderDate.errors.required">userEmail is required</div>
                  <div *ngIf="f.orderDate.errors.orderDate">userEmail must be a valid userEmail address</div>
                </div>
              </div>
              <div class="form-group">
                <label>Quantity</label>
                <input type="text" formControlName="quantity" class="form-control" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }" />
                <div *ngIf="submitted && f.quantity.errors" class="invalid-feedback">
                  <div *ngIf="f.quantity.errors.required">userEmail is required</div>
                  <div *ngIf="f.quantity.errors.quantity">userEmail must be a valid userEmail address</div>
                </div>
              </div>

              <div class="form-group">
                <label>productID_FK</label>
                <input type="text" formControlName="productID_FK" class="form-control" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.productID_FK.errors }" />
                <div *ngIf="submitted && f.productID_FK.errors" class="invalid-feedback">
                  <div *ngIf="f.productID_FK.errors.required">userEmail is required</div>
                  <div *ngIf="f.productID_FK.errors.productID_FK">userEmail must be a valid userEmail address</div>
                </div>
              </div>
              <div class="form-group">
                <label>userEmail_FK</label>
                <input type="text" formControlName="userEmail_FK" class="form-control" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.userEmail_FK.errors }" />
                <div *ngIf="submitted && f.userEmail_FK.errors" class="invalid-feedback">
                  <div *ngIf="f.userEmail_FK.errors.required">userEmail is required</div>
                  <div *ngIf="f.userEmail_FK.errors.userEmail_FK">userEmail must be a valid userEmail address</div>
                </div>
              </div>
              <div class="form-group">
                <label>paymentID_FK</label>
                <input type="text" formControlName="paymentID_FK" class="form-control" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.paymentID_FK.errors }" />
                <div *ngIf="submitted && f.paymentID_FK.errors" class="invalid-feedback">
                  <div *ngIf="f.paymentID_FK.errors.required">userEmail is required</div>
                  <div *ngIf="f.paymentID_FK.errors.paymentID_FK">userEmail must be a valid userEmail address</div>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-primary">submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
