<div class="header-panel">
  <div class="ui-g container nav-bar-wrapper">
    <div class="ui-g-6">
      <div class="ui-g-3 max-width-1 truncate-text-custom">
        <span class="txt">Kênh Người Bán</span>
      </div>
      <div class="ui-g-3 max-width-1 truncate-text-custom">
        <span class="txt">Tải ứng dụng</span>
      </div>
      <div class="ui-g-3 max-width-1 truncate-text-custom">
        <div class="ui-g-6 ui-g-nopad text-wrapper">
          <span class="txt">Kết nối</span>
        </div>
        <div class="ui-g-6 ui-g-nopad icon-wrapper">
          <i class="pi pi-share pi-share-alt" style="font-size: 1em"></i>
        </div>
      </div>
    </div>
    <div class="ui-g-6">
      <div class="max-width-1 truncate-text-custom">
        <span class="txt">Thông báo</span>
      </div>
      <div class="max-width-1 truncate-text-custom">
        <span class="txt">Trợ giúp</span>
      </div>
      <div class="max-width-1 truncate-text-custom">
        <div class="ui-g-6 no-padding text-wrapper">
          <span class="txt">Đăng ký</span>
        </div>
        <div class="no-padding icon-wrapper">
          <i class="pi pi-share pi-share-alt" style="font-size: 1em"></i>
        </div>
      </div>
      <div class="max-width-1 truncate-text-custom">
        <div class="ui-g-6 no-padding text-wrapper">
          <span class="txt">Đăng nhập</span>
        </div>
        <div class="no-padding icon-wrapper">
          <i class="pi pi-share pi-share-alt" style="font-size: 1em"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-g container header-with-search-wrapper">
    <div class="ui-g-6">Col3</div>
    <div class="ui-g-6">Col4</div>
  </div>
</div>
<router-outlet></router-outlet>
