$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$global-color: linear-gradient(-180deg,#f53d2d,#f63);
//header
.header {
  font: 100% $font-stack;
  color: $primary-color;
}
.container {
  margin-right: auto;
  margin-left: auto;
  width: inherit;
  max-width: 1200px;
}
.header-panel {
  background: $global-color;
  height: 119px;
}
.nav-bar-wrapper {
  height: 40%;
}
.header-with-search-wrapper {
  height: 40%;
}
.height-100 {
  height: 100%;
}
.txt {
  color: #fff;
  font-size: 15px;
}
.txt2 {
  color: #000000;
  font-size: 15px;
}
.truncate-text-custom {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.max-width-1 {
  max-width: 128px;
}
.no-padding {
  padding: unset;
}
.icon-color {
  color: azure;
}
.border-right {
  width: 1px;
  height: 17px;
  margin-left: 5px;
  border: 1px solid azure;
}
.pi-shopping-cart {
  font-size: 2.25em;
}
.size-icon-2 {
  font-size: 2.25em;
}
.shop-icon {
  height: 100%;
  cursor: pointer;
}
.shop-icon .ui-g-5, .shop-name{
  margin-top: -16px;
}
.shop-icon .shop-name {
  font-size: 25px;
}
.max-height {
  height: 100%;
}
.global-search {
  width: 100%;
  height: 100%;
  border: 2px solid azure;
  border-radius: 4px;
  padding-left: 10px;
  outline: none;
}
.height-8 {
  height: 80%;
}
.height-7 {
  height: 70%;
}
.height-5 {
  height: 50%;
}
.height-6 {
  height: 60%;
}
.height-4 {
  height: 40%;
}
.search-icon-wrapper {
  background: $global-color;
  margin-left: -3px;
  height: 100%;
  padding: 4px 0px 0px 21px;
  border: 2px solid white;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.ui-galleria-panel img {
  width: 100%;
  height: 100%;
}
.img-panel-wrapper {
  height: 376px;
}
.img-panel-wrapper img {
  width: 100%;
  height: 50%;
}
.element {
  float: left;
  margin-right: 10px;
}
.sign-in {
  border-right: 1px solid black;
  width: 40%;
  margin-right: 10px;
}
.cursor-pointer {
  cursor: pointer;
}
.header-list-category .category-wrapper {
  margin-left: 17%;
}
.ui-panel-images {
  width: 100%;
  height: 100%;
}
.element-product img{
  width: 200px;
  height: 200px;
}
.element-product {
  max-width: 200px;
  float: left;
  margin-right: 10px;
}
.element-content {
  width:100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@import "~bootstrap/dist/css/bootstrap.css";
.item {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.cursor_poiter {
  cursor: pointer;
}

.item {
  float: left;
  cursor: pointer;
}

.element-content span {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.element-content span:hover {
  background-color: #111111;
}

.menu {
  width: 100%;
  background-color: #333333;
  margin: 0;
  padding: 0;
  height: 58px;
}
.form-custom {
  width: 100%;
  padding: 10px;
}

.margin-50 {
  margin-left: 42%;
}

.txt {
  color: #fff;
  font-size: 15px;
}
.no-overflow{
  overflow: auto;
}
