<div class="header-panel">
  <div class="ui-g container nav-bar-wrapper">
    <div class="ui-g-6">
      <div class="ui-g-3 max-width-1 truncate-text-custom">
        <span class="txt">Kênh Người Bán</span>
      </div>
      <div class="ui-g-3 max-width-1 truncate-text-custom">
        <span class="txt">Tải ứng dụng</span>
      </div>
      <div class="ui-g-3 max-width-1 truncate-text-custom">
        <div class="ui-g-6 ui-g-nopad text-wrapper">
          <span class="txt">Kết nối</span>
        </div>
        <div class="ui-g-6 ui-g-nopad icon-wrapper">
          <i class="pi pi-share pi-share-alt icon-color" style="font-size: 1em"></i>
        </div>
      </div>
    </div>
    <div class="ui-g-6">
      <div class="ui-g-3 max-width-1 truncate-text-custom">
        <i class="pi pi-bell pi-bell icon-color" style="font-size: 1em"></i>
        <span class="txt">Thông báo</span>
      </div>
      <div class="ui-g-3 max-width-1 truncate-text-custom">
        <i class="pi pi-question pi-question-circle icon-color" style="font-size: 1em"></i>
        <span class="txt">Trợ giúp</span>
      </div>
      <div class="ui-g-4 truncate-text-custom">
        <div class="ui-g-6 no-padding text-wrapper sign-in">
          <span class="txt">Đăng ký</span>
        </div>
        <div class="ui-g-6 no-padding text-wrapper">
          <span class="txt">Đăng nhập</span>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-g container header-with-search-wrapper">
    <div class="ui-g-2 height-100 no-padding">
      <div class="ui-g-8 shop-icon">
        <div class="ui-g-5">
          <i class="pi pi-home size-icon-2 icon-color"></i>
        </div>
        <div class="ui-g-6 shop-name">
          <span class="txt">MyShop</span>
        </div>
      </div>
    </div>
    <div class="ui-g-8 height-100">
      <div class="ui-g-11 height-100 no-padding global-search-wrapper">
        <input class="global-search" placeholder="Tìm thương hiệu, sản phẩm và tên shop" type="text">
      </div>
      <div class="ui-g-1 height-100 no-padding search-icon-group">
        <div class="search-icon-wrapper">
          <i class="pi pi-search icon-color"></i>
        </div>
      </div>
    </div>
    <div class="ui-g-2 height-100">
      <i class="pi pi-shopping-cart icon-color"></i>
    </div>
  </div>
  <div class="ui-g container header-list-category">
    <div class="height-4 no-padding category-wrapper">
      <div class="element" *ngFor="let post of categories | async">
        <span class="txt" [textContent]=post.categoryName></span>
      </div>
    </div>
  </div>
</div>
<div class="ui-g container">
  <div class="ui-g-9">
    <p-galleria [images]="images" panelWidth="800" panelHeight="313" [showCaption]="false"></p-galleria>
  </div>
  <div class="ui-g-3 img-panel-wrapper">
    <img class="img" src="../assets/post1.jpg" alt="">
    <img src="../assets/post2.jpg" alt="">
    <div class="img-panel-2"></div>
  </div>
</div>
<div class="ui-g container list-product">
  <!--<div class="height-4 no-padding model-wrapper">-->
    <!--<div class="element" *ngFor="let item of product | async">-->
      <!--<span class="txt2" [textContent]=item.productDescription></span>-->
    <!--</div>-->
  <!--</div>-->
  <div class="height-4 no-padding category-wrapper">
    <div class="element-product" *ngFor="let post of products | async">
      <div class="element-img">
        <img src="../assets/{{post.productPicture}}" alt="">
      </div>
      <div class="element-content">
        <span class="txt2 truncate" [textContent]=post.productDescription></span>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
