<app-admin></app-admin>
<div class="container">

  <div>
    <h2>List OrderDetail</h2>
  </div>
  <div>
    <button type="button" class="btn btn-primary" (click)="openCreateModal()" data-toggle="modal" data-target="#modalCreate">Create</button>
  </div>
  <!--<div class="menu">-->
  <!--<ul class="list-group" *ngFor="let item of items | async">-->
  <!--<li class="list-group-item cursor_poiter" (click)="select(item)" data-toggle="modal" data-target="#modalEdit">-->
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Mã danh mục</th>
      <th>Tên Danh mục</th>
      <th>Mô tả</th>
    </tr>
    </thead>
    <tbody class="table" *ngFor="let item of items | async">
    <tr class="cursor_poiter" (click)="select(item)" data-toggle="modal" data-target="#modalEdit">
      <td>
        <span class="txt2 truncate" [textContent]=item.categoryCode></span>
      </td>
      <td>
        <span class="txt2 truncate" [textContent]=item.categoryName></span>
      </td>
      <td>
        <span class="txt2 truncate" [textContent]=item.catDescription></span>
      </td>
      <button type="button" class="btn btn-danger float-right" (click)="delete(item);$event.stopPropagation()">delete</button>
    </tr>
    </tbody>
  </table>
  <!--</li>-->
  <!--</ul>-->
  <!--</div>-->


  <div class="modal fade overflow-auto" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Sửa</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="container">
          <div class="row">
            <form class="form-custom" [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label>Mã danh mục</label>
                <input type="text" formControlName="categoryCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.categoryCode.errors }" />
                <div *ngIf="submitted && f.categoryCode.errors" class="invalid-feedback">
                  <div *ngIf="f.categoryCode.errors.required">First Name is required</div>
                </div>
              </div>
              <div class="form-group">
                <label>Tên Danh mục</label>
                <input type="text" formControlName="categoryName" class="form-control" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.categoryName.errors }" />
                <div *ngIf="submitted && f.categoryName.errors" class="invalid-feedback">
                  <div *ngIf="f.categoryName.errors.required">userEmail is required</div>
                  <div *ngIf="f.categoryName.errors.orderDate">userEmail must be a valid userEmail address</div>
                </div>
              </div>
              <div class="form-group">
                <label>Mô tả</label>
                <input type="text" formControlName="catDescription" class="form-control" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.catDescription.errors }" />
                <div *ngIf="submitted && f.catDescription.errors" class="invalid-feedback">
                  <div *ngIf="f.catDescription.errors.required">userEmail is required</div>
                  <div *ngIf="f.catDescription.errors.quantity">userEmail must be a valid userEmail address</div>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-primary">submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade overflow-auto" id="modalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Thêm</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="container">
          <div class="row">
            <form class="form-custom" [formGroup]="formCreate" (ngSubmit)="onSubmitCreate()">
              <div class="form-group">
                <label>Mã danh mục</label>
                <input type="text" formControlName="categoryCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && fCreate.categoryCode.errors }" />
                <div *ngIf="submitted && fCreate.categoryCode.errors" class="invalid-feedback">
                  <div *ngIf="fCreate.categoryCode.errors.required">Trường này không được trống</div>
                </div>
              </div>
              <div class="form-group">
                <label>Tên Danh mục</label>
                <input type="text" formControlName="categoryName" class="form-control" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && fCreate.categoryName.errors }" />
                <div *ngIf="submitted && fCreate.categoryName.errors" class="invalid-feedback">
                  <div *ngIf="fCreate.categoryName.errors.required">Trường này không được trống</div>
                </div>
              </div>
              <div class="form-group">
                <label>Mô tả</label>
                <input type="text" formControlName="catDescription" class="form-control" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && fCreate.catDescription.errors }" />
                <div *ngIf="submitted && fCreate.catDescription.errors" class="invalid-feedback">
                  <div *ngIf="fCreate.catDescription.errors.required">Trường này không được trống</div>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-primary">submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
