<app-header></app-header>
<div class="ui-g container list-product">
  <!--<div class="height-4 no-padding model-wrapper">-->
  <!--<div class="element" *ngFor="let item of product | async">-->
  <!--<span class="txt2" [textContent]=item.productDescription></span>-->
  <!--</div>-->
  <!--</div>-->
  <div class="ui-g-12 height-4 category-wrapper">
    <div class="element-product cursor-pointer" *ngFor="let post of orders | async">
      <div class="element-img">
        <img src="../assets/{{post.productPicture}}" alt="">
      </div>
      <div class="element-content align-content-center">
        <span class="txt2" [textContent]=post.productDescription></span>
      </div>
      <div class="element-content align-content-center">
        <span class="txt2">Số lượng: </span>
        <span class="txt2" [textContent]=post.quantity></span>
      </div>
      <div class="element-content align-content-center">
        <span class="txt2" [textContent]=post.totalPrice></span>
        <span class="txt2"> đ</span>
      </div>
      <div class="element-content align-content-center" *ngIf="post.status == 2">
        <span class="txt2">Đã thanh toán</span>
      </div>
      <div class="element-content align-content-center" *ngIf="post.status == 1">
        <span class="txt2">Chưa thanh toán</span>
      </div>
      <div class="element-content align-content-center" *ngIf="post.status == 2">
        <button type="button" class="btn btn-warning" (click)="delete(post)">Xóa</button>
      </div>
    </div>

    <div class="element-content" *ngIf="showPayAllBtn">
      <span class="txt2">Tổng tiền hàng(</span>
      <!--<span class="txt2" [textContent]=totalPriceAll></span>-->
      <span class="txt2" [textContent]=numberOfProduct></span>
      <span class="txt2"> Sản phẩm</span>
      <span class="txt2">): </span>
      <span class="txt2">{{ totalPriceAll | currency:'VND':false:'1.2-2' }}</span>
      <button type="button" class="btn btn-warning" (click)="createFactureAll()">MUA HÀNG</button>
    </div>
  </div>
</div>
