<app-header></app-header>
<div class="ui-g container list-product">
  <!--<div class="height-4 no-padding model-wrapper">-->
  <!--<div class="element" *ngFor="let item of product | async">-->
  <!--<span class="txt2" [textContent]=item.productDescription></span>-->
  <!--</div>-->
  <!--</div>-->
  <div class="ui-g-12 height-4 category-wrapper">
    <div class="element-product cursor-pointer" *ngFor="let post of orders | async">
      <div class="element-img">
        <img src="../assets/{{post.productPicture}}" alt="">
      </div>
      <div class="element-content">
        <span class="txt2" [textContent]=post.productDescription></span>
      </div>
      <div class="element-content">
        <span class="txt2">Số lượng: </span>
        <span class="txt2" [textContent]=post.quantity></span>
      </div>
      <div class="element-content">
        <span class="txt2" [textContent]=post.totalPrice></span>
        <span class="txt2"> đ</span>
      </div>
      <div class="element-content" *ngIf="post.status == 2">
        <span class="txt2">Đã thanh toán</span>
      </div>
      <div class="element-content" *ngIf="post.status == 1">
        <span class="txt2">Chưa thanh toán</span>
      </div>
      <div class="element-content" *ngIf="post.status == 1">
        <button type="button" class="btn btn-warning" (click)="createFacture(post.orderCode)">Thanh toán</button>
      </div>
      <div class="element-content" *ngIf="post.status == 2">
        <button type="button" class="btn btn-warning" (click)="delete(post)">Xóa</button>
      </div>
    </div>

    <div class="element-content" *ngIf="showPayAllBtn">
      <button type="button" class="btn btn-warning" (click)="createFactureAll()">Thanh toán Tất cả</button>
    </div>
  </div>
</div>
