$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$global-color: linear-gradient(-180deg,#f53d2d,#f63);
//header
.header {
  font: 100% $font-stack;
  color: $primary-color;
}
.container {
  margin-right: auto;
  margin-left: auto;
  width: inherit;
  max-width: 1200px;
}
.header-panel {
  background: $global-color;
  height: 119px;
}
.nav-bar-wrapper {
  height: 40%;
}
.header-with-search-wrapper {
  height: 40%;
}
.height-100 {
  height: 100%;
}
.txt {
  color: #fff;
  font-size: 15px;
}
.txt2 {
  color: #000000;
  font-size: 15px;
}
.truncate-text-custom {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.max-width-1 {
  max-width: 128px;
}
.no-padding {
  padding: unset;
}
.icon-color {
  color: azure;
}
.border-right {
  width: 1px;
  height: 17px;
  margin-left: 5px;
  border: 1px solid azure;
}
.pi-shopping-cart {
  font-size: 2.25em;
}
.size-icon-2 {
  font-size: 2.25em;
}
.shop-icon {
  height: 100%;
  cursor: pointer;
}
.shop-icon .ui-g-5, .shop-name{
  margin-top: -16px;
}
.shop-icon .shop-name {
  font-size: 25px;
}
.max-height {
  height: 100%;
}
.global-search {
  width: 100%;
  height: 100%;
  border: 2px solid azure;
  border-radius: 4px;
  padding-left: 10px;
  outline: none;
}
.height-8 {
  height: 80%;
}
.height-7 {
  height: 70%;
}
.height-5 {
  height: 50%;
}
.height-6 {
  height: 60%;
}
.height-4 {
  height: 40%;
}
.search-icon-wrapper {
  background: $global-color;
  margin-left: -3px;
  height: 100%;
  padding: 4px 0px 0px 21px;
  border: 2px solid white;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.ui-galleria-panel img {
  width: 100%;
  height: 100%;
}
.img-panel-wrapper {
  height: 376px;
}
.img-panel-wrapper img {
  width: 100%;
  height: 50%;
}
.element {
  float: left;
  margin-right: 10px;
}
.sign-in {
  border-right: 1px solid black;
  width: 40%;
  margin-right: 10px;
}
.cursor-pointer {
  cursor: pointer;
}
.header-list-category .category-wrapper {
  margin-left: 17%;
}
.ui-panel-images {
  width: 100%;
  height: 100%;
}
.element-product img{
  width: 100px;
  height: 100px;
}
.element-product {
  //margin-right: 10px;
  /* height: 100%; */
  min-height: 120px;
  display: flex;
}
.element-content {
  width:100%;
  float: left;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.element-img {
  //float: left;
}
.shopee-border-delivery {
  height: 0.1875rem;
  width: 100%;
  background-position-x: -1.875rem;
  background-size: 7.25rem 0.1875rem;
  background-image: repeating-linear-gradient(45deg, rgb(111, 166, 214), rgb(111, 166, 214) 33px, transparent 0px, transparent 41px, rgb(241, 141, 155) 0px, rgb(241, 141, 155) 74px, transparent 0px, transparent 82px);
}
.panel-custom {
  width: 30%;
}
.content-facture-container {
  display: flex;
}
