<app-header></app-header>
<div class="ui-g container container-custom list-product">
  <!--<div class="height-4 no-padding model-wrapper">-->
  <!--<div class="element" *ngFor="let item of product | async">-->
  <!--<span class="txt2" [textContent]=item.productDescription></span>-->
  <!--</div>-->
  <!--</div>-->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#choThanhToan">Chờ thanh toán</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#choLayHang">Chờ lấy hàng</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#dangGiao">Đang Giao</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#daGiao">Đã giao</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#daHuy">Đã hủy</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="choThanhToan" class="container tab-pane active"><br>
      <div class="ui-g-12 height-4 category-wrapper">
        <div class="panel panel-default cursor-pointer" *ngFor="let post of objectListFactureByStatus['waitForPay']" (click)="redirectToPayment(post)">
          <div class="shopee-border-delivery"></div>
          <div class="content-facture-container">
            <div class="panel-custom">
              <span> Địa chỉ nhận hàng</span>
              <div class="element-content">
                <span class="txt2" [textContent]="currentUser.userName"></span>
              </div>
              <div class="element-content">
                <span class="txt2" [textContent]="currentUser.phoneNumber"></span>
              </div>
              <div class="element-content">
                <span class="txt2" [textContent]="currentUser.street"></span>
                <span class="txt2">, </span>
                <span class="txt2" [textContent]="currentUser.suburb"></span>
                <span class="txt2">, </span>
                <span class="txt2" [textContent]="currentUser.city"></span>
              </div>
            </div>
            <div class="panel-custom">
              <div class="element-content">
                <span class="txt2">Mã đơn hàng:      </span>
                <span class="txt2" [textContent]=post.factureCode></span>
              </div>
              <div class="element-content">
                <span class="txt2">Số lượng:         </span>
                <span class="txt2" [textContent]=post.quantity></span>
              </div>
              <div class="element-content">
                <span class="txt2">Tổng số tiền:         </span>
                <span class="txt2" [textContent]=post.totalPrice></span>
                <span class="txt2"> đ</span>
              </div>
            </div>
            <div class="panel-custom">
              <div class="element-content">
                <span class="txt2" [textContent]=post.status></span>
              </div>
            </div>
            <div class="panel-custom">
              <div class="element-content">
                <button type="button" class="btn btn-danger float-right" (click)="cancelFacture(post);$event.stopPropagation()">Hủy Đơn Hàng</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="choLayHang" class="container tab-pane fade"><br>
      <div class="ui-g-12 height-4 category-wrapper">
        <div class="panel panel-default cursor-pointer" *ngFor="let post of objectListFactureByStatus['waitForReceive']" (click)="redirectToPayment(post)">
          <div class="shopee-border-delivery"></div>
          <div class="content-facture-container">
            <div class="panel-custom">
              <span> Địa chỉ nhận hàng</span>
              <div class="element-content">
                <span class="txt2" [textContent]="currentUser.userName"></span>
              </div>
              <div class="element-content">
                <span class="txt2" [textContent]="currentUser.phoneNumber"></span>
              </div>
              <div class="element-content">
                <span class="txt2" [textContent]="currentUser.street"></span>
                <span class="txt2">, </span>
                <span class="txt2" [textContent]="currentUser.suburb"></span>
                <span class="txt2">, </span>
                <span class="txt2" [textContent]="currentUser.city"></span>
              </div>
            </div>
            <div class="panel-custom">
              <div class="element-content">
                <span class="txt2">Mã đơn hàng:      </span>
                <span class="txt2" [textContent]=post.factureCode></span>
              </div>
              <div class="element-content">
                <span class="txt2">Số lượng:         </span>
                <span class="txt2" [textContent]=post.quantity></span>
              </div>
              <div class="element-content">
                <span class="txt2">Tổng số tiền:         </span>
                <span class="txt2" [textContent]=post.totalPrice></span>
                <span class="txt2"> đ</span>
              </div>
            </div>
            <div class="panel-custom">
              <div class="element-content">
                <span class="txt2" [textContent]=post.status></span>
              </div>
            </div>
            <div class="panel-custom">
              <div class="element-content">
                <button type="button" class="btn btn-danger float-right" (click)="cancelFacture(post);$event.stopPropagation()">Hủy Đơn Hàng</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="dangGiao" class="container tab-pane fade"><br>
      <div class="ui-g-12 height-4 category-wrapper">
        <div class="panel panel-default cursor-pointer" *ngFor="let post of objectListFactureByStatus['delivery']" (click)="redirectToPayment(post)">
          <div class="shopee-border-delivery"></div>
          <div class="content-facture-container">
            <div class="panel-custom">
              <span> Địa chỉ nhận hàng</span>
              <div class="element-content">
                <span class="txt2" [textContent]="currentUser.userName"></span>
              </div>
              <div class="element-content">
                <span class="txt2" [textContent]="currentUser.phoneNumber"></span>
              </div>
              <div class="element-content">
                <span class="txt2" [textContent]="currentUser.street"></span>
                <span class="txt2">, </span>
                <span class="txt2" [textContent]="currentUser.suburb"></span>
                <span class="txt2">, </span>
                <span class="txt2" [textContent]="currentUser.city"></span>
              </div>
            </div>
            <div class="panel-custom">
              <div class="element-content">
                <span class="txt2">Mã đơn hàng:      </span>
                <span class="txt2" [textContent]=post.factureCode></span>
              </div>
              <div class="element-content">
                <span class="txt2">Số lượng:         </span>
                <span class="txt2" [textContent]=post.quantity></span>
              </div>
              <div class="element-content">
                <span class="txt2">Tổng số tiền:         </span>
                <span class="txt2" [textContent]=post.totalPrice></span>
                <span class="txt2"> đ</span>
              </div>
            </div>
            <div class="panel-custom">
              <div class="element-content">
                <span class="txt2" [textContent]=post.status></span>
              </div>
            </div>
            <div class="panel-custom">
              <div class="element-content">
                <button type="button" class="btn btn-danger float-right" (click)="cancelFacture(post);$event.stopPropagation()">Hủy Đơn Hàng</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="daGiao" class="container tab-pane fade"><br>
      <div class="ui-g-12 height-4 category-wrapper">
        <div class="panel panel-default cursor-pointer" *ngFor="let post of objectListFactureByStatus['delivered']" (click)="redirectToPayment(post)">
          <div class="shopee-border-delivery"></div>
          <div class="content-facture-container">
            <div class="panel-custom">
              <span> Địa chỉ nhận hàng</span>
              <div class="element-content">
                <span class="txt2" [textContent]="currentUser.userName"></span>
              </div>
              <div class="element-content">
                <span class="txt2" [textContent]="currentUser.phoneNumber"></span>
              </div>
              <div class="element-content">
                <span class="txt2" [textContent]="currentUser.street"></span>
                <span class="txt2">, </span>
                <span class="txt2" [textContent]="currentUser.suburb"></span>
                <span class="txt2">, </span>
                <span class="txt2" [textContent]="currentUser.city"></span>
              </div>
            </div>
            <div class="panel-custom">
              <div class="element-content">
                <span class="txt2">Mã đơn hàng:      </span>
                <span class="txt2" [textContent]=post.factureCode></span>
              </div>
              <div class="element-content">
                <span class="txt2">Số lượng:         </span>
                <span class="txt2" [textContent]=post.quantity></span>
              </div>
              <div class="element-content">
                <span class="txt2">Tổng số tiền:         </span>
                <span class="txt2" [textContent]=post.totalPrice></span>
                <span class="txt2"> đ</span>
              </div>
            </div>
            <div class="panel-custom">
              <div class="element-content">
                <span class="txt2" [textContent]=post.status></span>
              </div>
            </div>
            <div class="panel-custom">
              <div class="element-content">
                <button type="button" class="btn btn-danger float-right" (click)="cancelFacture(post);$event.stopPropagation()">Hủy Đơn Hàng</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="daHuy" class="container tab-pane fade"><br>
      <div class="ui-g-12 height-4 category-wrapper">
        <div class="panel panel-default cursor-pointer" *ngFor="let post of objectListFactureByStatus['cancel']" (click)="redirectToPayment(post)">
          <div class="shopee-border-delivery"></div>
          <div class="content-facture-container">
            <div class="panel-custom">
              <span> Địa chỉ nhận hàng</span>
              <div class="element-content">
                <span class="txt2" [textContent]="currentUser.userName"></span>
              </div>
              <div class="element-content">
                <span class="txt2" [textContent]="currentUser.phoneNumber"></span>
              </div>
              <div class="element-content">
                <span class="txt2" [textContent]="currentUser.street"></span>
                <span class="txt2">, </span>
                <span class="txt2" [textContent]="currentUser.suburb"></span>
                <span class="txt2">, </span>
                <span class="txt2" [textContent]="currentUser.city"></span>
              </div>
            </div>
            <div class="panel-custom">
              <div class="element-content">
                <span class="txt2">Mã đơn hàng:      </span>
                <span class="txt2" [textContent]=post.factureCode></span>
              </div>
              <div class="element-content">
                <span class="txt2">Số lượng:         </span>
                <span class="txt2" [textContent]=post.quantity></span>
              </div>
              <div class="element-content">
                <span class="txt2">Tổng số tiền:         </span>
                <span class="txt2" [textContent]=post.totalPrice></span>
                <span class="txt2"> đ</span>
              </div>
            </div>
            <div class="panel-custom">
              <div class="element-content">
                <span class="txt2" [textContent]=post.status></span>
              </div>
            </div>
            <div class="panel-custom">
              <div class="element-content">
                <button type="button" class="btn btn-danger float-right" (click)="activeFacture(post);$event.stopPropagation()">Tiếp tục Đơn Hàng</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>
