<app-admin></app-admin>
<div class="container">

  <div>
    <h2>List Payment</h2>
  </div>
  <div>
    <button type="button" class="btn btn-primary" (click)="openCreateModal()" data-toggle="modal" data-target="#modalCreate">Create</button>
  </div>
  <div class="menu">
    <ul class="list-group" *ngFor="let item of items | async">
      <li class="list-group-item cursor_poiter" (click)="select(item)" data-toggle="modal" data-target="#modalEdit">
        <span class="txt2 truncate" [textContent]=item.paymentType></span>
        <button type="button" class="btn btn-danger float-right" (click)="delete(item);$event.stopPropagation()">delete</button>
      </li>
    </ul>
  </div>


  <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Edit here</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="container">
          <div class="row">
            <form class="form-custom" [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label>Product Code</label>
                <input type="text" formControlName="paymentCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.paymentCode.errors }" />
                <div *ngIf="submitted && f.paymentCode.errors" class="invalid-feedback">
                  <div *ngIf="f.paymentCode.errors.required">First Name is required</div>
                </div>
              </div>
              <div class="form-group">
                <label>Product Name</label>
                <input type="text" formControlName="paymentType" class="form-control" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.paymentType.errors }" />
                <div *ngIf="submitted && f.paymentType.errors" class="invalid-feedback">
                  <div *ngIf="f.paymentType.errors.required">userEmail is required</div>
                  <div *ngIf="f.paymentType.errors.paymentType">userEmail must be a valid userEmail address</div>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-primary">submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" id="modalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Edit here</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="container">
          <div class="row">
            <form class="form-custom" [formGroup]="formCreate" (ngSubmit)="onSubmitCreate()">
              <div class="form-group">
                <label>Product Code</label>
                <input type="text" formControlName="paymentCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.paymentCode.errors }" />
                <div *ngIf="submitted && f.paymentCode.errors" class="invalid-feedback">
                  <div *ngIf="f.paymentCode.errors.required">First Name is required</div>
                </div>
              </div>
              <div class="form-group">
                <label>Product Name</label>
                <input type="text" formControlName="paymentType" class="form-control" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.paymentType.errors }" />
                <div *ngIf="submitted && f.paymentType.errors" class="invalid-feedback">
                  <div *ngIf="f.paymentType.errors.required">userEmail is required</div>
                  <div *ngIf="f.paymentType.errors.paymentType">userEmail must be a valid userEmail address</div>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-primary">submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
