<app-admin></app-admin>
<div class="container">

  <div class="" *ngIf="currentUser.profile == 'admin'">
    <div>
      <h2>List User</h2>
    </div>
    <div>
      <button type="button" class="btn btn-primary" (click)="openCreateModal()" data-toggle="modal" data-target="#modalCreate">Thêm người dùng</button>
    </div>
    <div class="menu">
      <ul class="list-group" *ngFor="let item of users | async">
        <li class="list-group-item cursor_poiter" (click)="select(item)" data-toggle="modal" data-target="#modalEdit">
          <span class="txt2 truncate" [textContent]=item.userName></span>
          <button type="button" class="btn btn-danger float-right" (click)="delete(item);$event.stopPropagation()">Xóa</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="" *ngIf="currentUser.profile == 'user'">
    <div>
      <h2>List User</h2>
    </div>
    <div>
      <button type="button" class="btn btn-primary" *ngIf="currentUser.profile == 'admin'" (click)="openCreateModal()" data-toggle="modal" data-target="#modalCreate">Thêm người dùng</button>
    </div>
    <div class="menu">
      <ul class="list-group" *ngFor="let item of users | async">
        <li class="list-group-item cursor_poiter" (click)="select(item)" data-toggle="modal" data-target="#modalEdit">
          <span class="txt2 truncate" [textContent]=item.userName></span>
          <button type="button" class="btn btn-danger float-right" *ngIf="currentUser.profile == 'admin'" (click)="delete(item);$event.stopPropagation()">Xóa</button>
        </li>
      </ul>
    </div>
  </div>


  <div class="modal fade no-overflow" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Sửa người dùng</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="container">
          <div class="row">
            <form class="form-custom" [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label class="label-custom">Tên</label>
                <input type="text" formControlName="userName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
                <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                  <div *ngIf="f.userName.errors.required">Tên bạn không được để trống</div>
                </div>
              </div>
              <div class="form-group">
                <label class="label-custom">Số điện thoại</label>
                <input type="text" formControlName="phoneNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" />
                <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                  <div *ngIf="f.phoneNumber.errors.required">Tên bạn không được để trống</div>
                </div>
              </div>
              <div class="form-group">
                <label class="label-custom">Địa chỉ Email</label>
                <input type="text" formControlName="userEmail" class="form-control" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.userEmail.errors }" />
                <div *ngIf="submitted && f.userEmail.errors" class="invalid-feedback">
                  <div *ngIf="f.userEmail.errors.required">Địa chỉ Email không được để trống</div>
                  <div *ngIf="f.userEmail.errors.userEmail">Địa chỉ Email chưa đúng</div>
                </div>
              </div>
              <div class="form-group">
                <label class="label-custom">Mật khẩu</label>
                <input type="password" formControlName="password" class="form-control" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Mật khẩu không được để trống</div>
                  <div *ngIf="f.password.errors.minlength">Mật khẩu ít nhất có 6 ký tự</div>
                </div>
              </div>
              <div class="form-group">
                <label class="label-custom">Chọn loại người dùng</label>
                <select class="browser-default custom-select" formControlName="profile" [ngClass]="{ 'is-invalid': submitted && f.profile.errors }">
                  <option value="user" selected>Người dùng</option>
                  <option value="seller">Người bán</option>
                  <option value="admin">Admin</option>
                </select>
                <div *ngIf="submitted && f.profile.errors" class="invalid-feedback">
                  <div *ngIf="f.profile.errors.required">Trường này không được trống</div>
                </div>
              </div>
              <div class="form-group">
                <label class="label-custom">Đường phố</label>
                <input type="text" formControlName="street" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.street.errors }" />
                <div *ngIf="submitted && f.street.errors" class="invalid-feedback">
                  <div *ngIf="f.street.errors.required">Trường này không được trống</div>
                </div>
              </div>
              <div class="form-group">
                <label class="label-custom">Quận</label>
                <input type="text" formControlName="county" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.county.errors }" />
                <div *ngIf="submitted && f.county.errors" class="invalid-feedback">
                  <div *ngIf="f.county.errors.required">Trường này không được trống</div>
                </div>
              </div>
              <div class="form-group">
                <label class="label-custom">Tỉnh/Thành phố</label>
                <input type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                  <div *ngIf="f.city.errors.required">Trường này không được trống</div>
                </div>
              </div>
              <div class="form-group">
                <label class="label-custom">Mã postcode</label>
                <input type="text" formControlName="postcode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.postcode.errors }" />
                <div *ngIf="submitted && f.postcode.errors" class="invalid-feedback">
                  <div *ngIf="f.postcode.errors.required">Trường này không được trống</div>
                </div>
              </div>
              <div class="form-group">
                <label class="label-custom">Phường/Xã</label>
                <input type="text" formControlName="wards" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.wards.errors }" />
                <div *ngIf="submitted && f.wards.errors" class="invalid-feedback">
                  <div *ngIf="f.wards.errors.required">Trường này không được trống</div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-deep-orange" (click)="onSubmit()">Sửa</button>
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade no-overflow" id="modalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Thêm người dùng</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="container">
          <div class="row">
            <form class="form-custom" [formGroup]="formCreate" (ngSubmit)="onSubmitCreate()">
              <div class="form-group">
                <label class="label-custom">Tên</label>
                <input type="text" formControlName="userName" class="form-control" [ngClass]="{ 'is-invalid': submittedCreate && fCreate.userName.errors }" />
                <div *ngIf="submittedCreate && fCreate.userName.errors" class="invalid-feedback">
                  <div *ngIf="fCreate.userName.errors.required">Tên bạn không được để trống</div>
                </div>
              </div>
              <div class="form-group">
                <label class="label-custom">Số điện thoại</label>
                <input type="text" formControlName="phoneNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" />
                <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                  <div *ngIf="f.phoneNumber.errors.required">Tên bạn không được để trống</div>
                </div>
              </div>
              <div class="form-group">
                <label class="label-custom">Địa chỉ Email</label>
                <input type="text" formControlName="userEmail" class="form-control" autocomplete="off" [ngClass]="{ 'is-invalid': submittedCreate && fCreate.userEmail.errors }" />
                <div *ngIf="submittedCreate && fCreate.userEmail.errors" class="invalid-feedback">
                  <div *ngIf="fCreate.userEmail.errors.required">Địa chỉ Email không được để trống</div>
                  <div *ngIf="fCreate.userEmail.errors.userEmail">Địa chỉ Email chưa đúng</div>
                </div>
              </div>
              <div class="form-group">
                <label class="label-custom">Mật khẩu</label>
                <input type="password" formControlName="password" class="form-control" autocomplete="off" [ngClass]="{ 'is-invalid': submittedCreate && fCreate.password.errors }" />
                <div *ngIf="submittedCreate && fCreate.password.errors" class="invalid-feedback">
                  <div *ngIf="fCreate.password.errors.required">Mật khẩu không được để trống</div>
                  <div *ngIf="fCreate.password.errors.minlength">Mật khẩu ít nhất có 6 ký tự</div>
                </div>
              </div>
              <div class="form-group">
                <label class="label-custom">Chọn loại người dùng</label>
                <select class="browser-default custom-select" formControlName="profile" [ngClass]="{ 'is-invalid': submittedCreate && fCreate.profile.errors }">
                  <option selected>Người dùng</option>
                  <option value="1">Người bán</option>
                </select>
                <div *ngIf="submittedCreate && fCreate.profile.errors" class="invalid-feedback">
                  <div *ngIf="fCreate.profile.errors.required">Trường này không được trống</div>
                </div>
              </div>
              <div class="form-group">
                <label class="label-custom">Đường phố</label>
                <input type="text" formControlName="street" class="form-control" [ngClass]="{ 'is-invalid': submittedCreate && fCreate.street.errors }" />
                <div *ngIf="submittedCreate && fCreate.street.errors" class="invalid-feedback">
                  <div *ngIf="fCreate.street.errors.required">Trường này không được trống</div>
                </div>
              </div>
              <div class="form-group">
                <label class="label-custom">Quận</label>
                <input type="text" formControlName="county" class="form-control" [ngClass]="{ 'is-invalid': submittedCreate && fCreate.county.errors }" />
                <div *ngIf="submittedCreate && fCreate.county.errors" class="invalid-feedback">
                  <div *ngIf="fCreate.county.errors.required">Trường này không được trống</div>
                </div>
              </div>
              <div class="form-group">
                <label class="label-custom">Thành phố</label>
                <input type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submittedCreate && fCreate.city.errors }" />
                <div *ngIf="submittedCreate && fCreate.city.errors" class="invalid-feedback">
                  <div *ngIf="fCreate.city.errors.required">Trường này không được trống</div>
                </div>
              </div>
              <div class="form-group">
                <label class="label-custom">Mã postcode</label>
                <input type="text" formControlName="postcode" class="form-control" [ngClass]="{ 'is-invalid': submittedCreate && fCreate.postcode.errors }" />
                <div *ngIf="submittedCreate && fCreate.postcode.errors" class="invalid-feedback">
                  <div *ngIf="fCreate.postcode.errors.required">Trường này không được trống</div>
                </div>
              </div>
              <div class="form-group">
                <label class="label-custom">Phường/Xã</label>
                <input type="text" formControlName="wards" class="form-control" [ngClass]="{ 'is-invalid': submittedCreate && fCreate.wards.errors }" />
                <div *ngIf="submittedCreate && fCreate.wards.errors" class="invalid-feedback">
                  <div *ngIf="fCreate.wards.errors.required">Trường này không được trống</div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-deep-orange" (click)="onSubmitCreate()">Thêm</button>
        </div>
      </div>
    </div>
  </div>
</div>
