<app-header></app-header>
<div class="wrapper">
  <div class="ui-g container">
    <div class="element-img ui-g-6">
      <img src="../assets/{{product.productPicture}}" alt="">
    </div>
    <div class="element-content ui-g-5">
      <div class="description">
        <span class="txt2" [textContent]=product.productDescription></span>
      </div>
      <div>
        <div class="jumbotron height-5 no-padding">
          <span class="txt2" [textContent]=product.productPrice></span>
          <span class="txt2"> đ</span>
          <p>Ở đâu rẻ hơn, Shop xin hoàn tiền</p>
        </div>
      </div>
      <div class="quantity">
        <div class="txt2">
          <span>Số Lượng</span>
        </div>
        <div class="number">
          <input type="number" [(ngModel)]="order.quantity" class="form-control" id="quantity">
        </div>
      </div>
      <div class="quantity" *ngIf="currentUser">
        <button type="button" (click)="insertProduct()" class="btn btn-primary">Thêm vào giỏ hàng</button>
        <button type="button" class="btn btn-warning" (click)="createFacture()" [routerLink]="['/facture']">Mua ngay</button>
      </div>
    </div>
  </div>
</div>
