<app-header></app-header>
<div class="wrapper">
  <div class="ui-g container">
    <div class="element-img ui-g-6">
      <img src="../assets/images/{{product.productPicture}}" alt="">
    </div>
    <div class="element-content ui-g-5">
      <div class="description">
        <span class="txt2" [textContent]=product.productDescription></span>
      </div>
      <div>
        <div class="jumbotron height-5 no-padding">
          <span class="txt2" [textContent]=product.productPrice></span>
          <span class="txt2"> đ</span>
          <p>Ở đâu rẻ hơn, Shop xin hoàn tiền</p>
        </div>
      </div>
      <div class="quantity">
        <div class="txt2">
          <span>Số Lượng</span>
        </div>
        <div class="number">
          <input type="number" [(ngModel)]="orderProduct.quantity" class="form-control" id="quantity">
        </div>
      </div>
      <div class="quantity">
        <button type="button" (click)="insertOrderProduct()" class="btn btn-primary">Thêm vào giỏ hàng</button>
        <button type="button" class="btn btn-warning" (click)="createFacture()">Mua ngay</button>
      </div>
      <div class="alert alert-success alert-dismissible hide" id="order-success-alert">
        <button type="button" class="close" (click)="closeAlert()">&times;</button>
        <strong>Thành công!</strong> Đã thêm vào giỏ hàng.
      </div>
      <div class="alert alert-success alert-dismissible hide" id="facture-success-alert">
        <button type="button" class="close" (click)="closeAlert()">&times;</button>
        <strong>Thành công!</strong> Đã thêm vào đơn hàng.
      </div>
      <div class="alert alert-success alert-dismissible hide" id="login-alert">
        <button type="button" class="close" (click)="closeAlert()">&times;</button>
        <strong>Hãy đăng nhập để mua hàng</strong>
      </div>
    </div>
  </div>
</div>
