<app-admin></app-admin>
<div class="container">

  <div>
    <h2>Danh sách sản phẩm</h2>
  </div>
  <div>
    <button type="button" class="btn btn-primary" (click)="openCreateModal()" data-toggle="modal" data-target="#modalCreate">Tạo mới</button>
  </div>
  <div class="menu">
    <ul class="list-group" *ngFor="let item of items | async">
      <li class="list-group-item cursor_poiter" (click)="select(item)" data-toggle="modal" data-target="#modalEdit">
        <span class="txt2 truncate" [textContent]=item.productName></span>
        <button type="button" class="btn btn-danger float-right" (click)="delete(item);$event.stopPropagation()">Xóa</button>
      </li>
    </ul>
  </div>


  <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Sửa sản phẩm</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="container">
          <div class="row">
            <form class="form-custom" [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label>Mã sản phẩm</label>
                <input type="text" formControlName="productCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productCode.errors }" />
                <div *ngIf="submitted && f.productCode.errors" class="invalid-feedback">
                  <div *ngIf="f.productCode.errors.required">Trường này không được để trống</div>
                </div>
              </div>
              <div class="form-group">
                <label>Tên sản phẩm</label>
                <input type="text" formControlName="productName" class="form-control" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.productName.errors }" />
                <div *ngIf="submitted && f.productName.errors" class="invalid-feedback">
                  <div *ngIf="f.productName.errors.required">Trường này không được để trống</div>
                  <div *ngIf="f.productName.errors.productName">Trường này không được để trống</div>
                </div>
              </div>
              <div class="form-group">
                <label>Giá</label>
                <input type="number" formControlName="productPrice" class="form-control" aria-label="amount" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.productPrice.errors }" />
                <div *ngIf="submitted && f.productPrice.errors" class="invalid-feedback">
                  <div *ngIf="f.productPrice.errors.required">Trường này không được để trống</div>
                  <div *ngIf="f.productPrice.errors.minlength">Trường này không được để trống</div>
                </div>
              </div>
              <div class="form-group">
                <label>Ảnh</label>
                <input type="file" formControlName="productPicture" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productPicture.errors }" (change)="upload($event.target.files)" />
                <img src="../../assets/images/{{f.productPicture}}" alt="">
                <div *ngIf="submitted && f.productPicture.errors" class="invalid-feedback">
                  <div *ngIf="f.productPicture.errors.required">Trường này không được để trống</div>
                </div>
              </div>
              <div class="form-group">
                <label>Mô tả</label>
                <input type="text" formControlName="productDescription" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productDescription.errors }" />
                <div *ngIf="submitted && f.productDescription.errors" class="invalid-feedback">
                  <div *ngIf="f.productDescription.errors.required">Trường này không được để trống</div>
                </div>
              </div>
              <div class="form-group">
                <label>Loại sản phẩm</label>
                <input type="text" formControlName="categoryCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.categoryCode.errors }" />
                <div *ngIf="submitted && f.categoryCode.errors" class="invalid-feedback">
                  <div *ngIf="f.categoryCode.errors.required">Trường này không được để trống</div>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-primary">Sửa sản phẩm</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" id="modalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Thêm sản phẩm</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="container">
          <div class="row">
            <form class="form-custom" [formGroup]="formCreate" (ngSubmit)="onSubmitCreate()">
              <div class="form-group">
                <label>Mã sản phẩm</label>
                <input type="text" formControlName="productCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && fCreate.productCode.errors }" />
                <div *ngIf="submitted && fCreate.productCode.errors" class="invalid-feedback">
                  <div *ngIf="fCreate.productCode.errors.required">Trường này không được để trống</div>
                </div>
              </div>
              <div class="form-group">
                <label>Tên sản phẩm</label>
                <input type="text" formControlName="productName" class="form-control" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && fCreate.productName.errors }" />
                <div *ngIf="submitted && fCreate.productName.errors" class="invalid-feedback">
                  <div *ngIf="fCreate.productName.errors.required">Trường này không được để trống</div>
                  <div *ngIf="fCreate.productName.errors.productName">Trường này không được để trống</div>
                </div>
              </div>
              <div class="form-group">
                <label>Giá</label>
                <input type="number" formControlName="productPrice" class="form-control" aria-label="amount" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && fCreate.productPrice.errors }" />
                <div *ngIf="submitted && fCreate.productPrice.errors" class="invalid-feedback">
                  <div *ngIf="fCreate.productPrice.errors.required">Trường này không được để trống</div>
                  <div *ngIf="fCreate.productPrice.errors.minlength">Trường này không được để trống</div>
                </div>
              </div>
              <div class="form-group">
                <label>Ảnh</label>
                <input type="file" formControlName="productPicture" class="form-control" [ngClass]="{ 'is-invalid': submitted && fCreate.productPicture.errors }" (change)="upload($event.target.files)" />
                <img src="../../assets/images/{{fCreate.productPicture}}" alt="">
                <div *ngIf="submitted && fCreate.productPicture.errors" class="invalid-feedback">
                  <div *ngIf="fCreate.productPicture.errors.required">Trường này không được để trống</div>
                </div>
              </div>
              <div class="form-group">
                <label>Mô tả</label>
                <input type="text" formControlName="productDescription" class="form-control" [ngClass]="{ 'is-invalid': submitted && fCreate.productDescription.errors }" />
                <div *ngIf="submitted && fCreate.productDescription.errors" class="invalid-feedback">
                  <div *ngIf="fCreate.productDescription.errors.required">Trường này không được để trống</div>
                </div>
              </div>
              <div class="form-group">
                <label>Loại sản phẩm</label>
                <select class="browser-default custom-select" formControlName="categoryCode" [ngClass]="{ 'is-invalid': submitted && fCreate.profile.errors }">
                  <option selected *ngFor="let item of categories | async">
                    <span class="txt" [textContent]=item.categoryName (click)="selectCategory(item)"></span>
                  </option>
                </select>
              </div>
              <div class="form-group">
                <button class="btn btn-primary">Tạo sản phẩm</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
