@import "~bootstrap/dist/css/bootstrap.css";

* {
  outline: 0;
}
.hide {
  display: none;
}
.container-custom {
  min-height: 500px;
}
.center-parent {
  text-align: center;
}
.center-me {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 400px;
}
.form-custom {
  width: 100%;
  padding: 10px;
}
